.flex-box {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  gap: 20px;
}

.row {
  display: flex;
  height: 33vh;
  justify-content: space-between;
}

.Boxes {
  display: flex;
  flex-wrap: wrap;
  background-color: bisque;
  width: 33%;
  height: 100%;
  /* margin: 50px; */
  /* justify-content: space-between; */
  justify-content: center;
  gap: 15px;
}

.smallbox1 {
  flex-basis: 40%;
  height: 40%;
  width: 50px;
  background-color: aquamarine;
}
